.my__button {
  width: 250px;
  height: 45px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  border-radius: 8px;
  background: #2A2A37;
  font-family: SF Pro Text;
  border: none;
  cursor: pointer;
}
