.routineCard {
  margin-top: 50px;
  margin-left: 50px;
  width: 430px;
  height: 160px;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.09);
  border-radius: 12px;
}
.routineCard__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    padding: 20px 20px 14px 20px;
}
.routineCard__header >p{
    color: #2A2A37;
    font-family: SF Pro Text;
    font-weight: 600;
}
.routineCard__header >img{
    height: 27px;
}

.routineCard__time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.timeLeftUp{
    display: flex;
    align-items: center;
}
.timeLeftUp >img{
    height: 20px;
}
.timeLeftUp>p{
    font-weight: 600;
    color: #000000;
    margin-left: 15px;
    font-size: 14px;
    font-family: SF Pro Text;
}
.timeLeftDown{
    margin-top: 10px;
}
.routineCard__timeRight{
    display: flex;
    align-items: center;
}
.routineCard__timeRight >p{
    font-weight: 600;
    font-size: 14px;
    color: #AFAFAF;
    font-family: SF Pro Text;
    margin-right: 15px;
}
.routineCard__timeRight > img{
    height: 25px;
}